# Optional. No default value
# Database engine
DB_ENGINE=

# Optional. No default value
# Database host
DB_HOST=

# Optional. No default value
# Name of the database
DB_NAME=

# Optional. No default value
# Username for database connection
DB_USER=

# Optional. No default value
# Password for database connection
DB_PASSWORD=

# Default unsecure key will be used if not provided
# For security, must be unique and secret
DJANGO_SECRET_KEY=

# Use built-in sqlite3 local database in projects root dir
# Can be configured in settings.py
# Set to False to use your database settings
# True if not provided
USE_DEFAULT_DB=

# Django debug mode
# Set to False for production
# If set to False locally, you have to disable in settings.py all HTTPS settings manually
# True if not provided
DJANGO_DEBUG=
